#title {
    color: #64bdf6;
    padding: 8px;
    margin-top: 0;
    font-weight: 700;
    text-align: center;
}

.btn-primary {
    background: #64bdf6;
    font-weight: bold;
}

.validate.ng-touched.ng-invalid .active {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

.error {
    color: red;
}